*{
    margin: 0;
    padding: 0
}
h1{
    text-align: center;
}
h4{
    text-align: center;
}
form{
    text-align: center;
}
#low, #high{
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 10px auto;
    color: white;
}
#equal{
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: green;
    margin: 10px auto;
    color: white;
}
span{
    display: inline-block;
    margin-top: 50px;
    font-size: 2em;
}