<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Great Number Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='NumberGame.css') }}">
</head>
<body>
    <h1>Welcome to the Great Number Game!</h1>
    <h4>I am thinking of a number between 1 and 100</h4>
    <h4>Take a guess!</h4>
    {% if session['prompt'] == "Too Low!" %}
    <p id="low"><span>{{session['prompt']}}</span></p>
    {% endif %}
    {% if session['prompt'] == "Too High!" %}
    <p id="high"><span>{{session['prompt']}}</span></p>
    {% endif %}
    {% if session['prompt'] == "was the Number!" %}
    <p id="equal"><span>{{session['result']}} {{session['prompt']}}</span>
        <button><form action="/restart" method="POST">
            <input type="submit" value = "Play Again!">
        </form></button>
    </p>
    {% endif %}
    {% if session['prompt'] != "was the Number!" %}
    <form action="/userguess" method="POST">
        <input type="text" name="guess">
        <input type="submit" value = "Submit">
    </form>
    {% endif %}
</body>
</html>